{% extends 'base.html.twig' %}

{% block title %}{% if category.id %}Редактировать категорию{% else %}Создать категорию{% endif %}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0">
                        <i class="fas fa-tag me-2"></i>
                        {% if category.id %}
                            Редактировать категорию "{{ category.name }}"
                        {% else %}
                            Создать новую категорию
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ path('app_task_category_index') }}" class="btn btn-secondary me-md-2">
                            <i class="fas fa-arrow-left me-2"></i>Назад к списку
                        </a>
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}